<div class="col-sm-12">
    <label for="youtubeUrl">Youtube Url</label>
    <div class="input-group">
        <input id="youtubeUrl" type="text" class="form-control file-upload-info" name="youtubeUrl">
        <span class="input-group-append">
            <button class="file-upload-browse btn btn-primary youtube-add-btn" type="button">Dodaj</button>
        </span>
    </div>
{#    <label for="youtubeUrl">Youtube Url:</label>#}
{#    <input type="text" name="youtubeUrl" id="youtubeUrl"#}
{#           class="input-text col-xs-12 col-sm-8 col-md-10">#}
{#    {{ form.button('submit_btn', 'btn btn-outline-primary submit', 'SaÄuvaj', 'button') }}#}
{#    <button type="button" class="button btn-medium col-xs-12 col-sm-4 col-md-2 youtube-add-btn">Dodaj</button>#}
</div>
<div class="col-sm-12 sm-section">
    <ul id="youtube-video-lists"></ul>
</div>
