$site-color: #000000;
$gray-color: #a6a6a6;
$gray-light-color: #efefef;
$black-color: #000000;
$warm-black-color: #232530;
$white-color: #ffffff;
$dark-red-color: #a70303;
$popup-bg-color: #f4f4f4;
$dark-gray-color: #2c2c2c
